header.fi-section-header,
.fi-fo-repeater-item-header {
    background: #f4f4f5;
}

.fi-section,
.fi-fo-repeater-item {
    overflow: hidden;
}

.fi-ac-action.submit-button {
    display: none !important;
}

/* 
.fi-ac-action.btn-submit-visible {
    display: block !important;
} */

div#children-information .fi-fo-repeater-item:nth-child(even) .fi-fo-repeater-item-header {
    background: rgba(var(--primary-600), var(--tw-text-opacity, 1));
}

div#children-information .fi-fo-repeater-item:nth-child(even) .fi-fo-repeater-item-header svg {
    color: #fff;
}

div#children-information .fi-fo-repeater-item:nth-child(even) .fi-fo-repeater-item-header h4 {
    color: white;
}