header.fi-section-header,
.fi-fo-repeater-item-header {
    background: #f4f4f5;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* 
.fi-section,
.fi-fo-repeater-item {
    overflow: hidden;
} */

.fi-ac-action.submit-button {
    display: none !important;
}

/* 
.fi-ac-action.btn-submit-visible {
    display: block !important;
} */

div#children-information .fi-fo-repeater-item:nth-child(even) .fi-fo-repeater-item-header {
    background: rgba(var(--primary-600), var(--tw-text-opacity, 1));
}

div#children-information .fi-fo-repeater-item:nth-child(odd) .fi-fo-repeater-item-content {
    background: #f2f2f2;
}

div#children-information .fi-fo-repeater-item:nth-child(even) .fi-fo-repeater-item-header svg {
    color: #fff;
}

div#children-information .fi-fo-repeater-item:nth-child(even) .fi-fo-repeater-item-header h4 {
    color: white;
}

.create-application-note {
    position: absolute;
    left: 0;
    padding: 10px;
    background: white;
    border: 1px solid #af8b63;
    border-radius: 10px;
    font-weight: 500;
    font-size: 14px;
}

@media (min-width: 768px) {
    .fi-page.fi-resource-create-record-page.fi-resource-applications header {
        padding-bottom: 50px;
        position: relative;
    }
}

@media (max-width: 767px) {
    .create-application-note {
        position: relative;
        bottom: 0;
    }
}