header.fi-section-header,
.fi-fo-repeater-item-header {
    background: #f4f4f5;
}

.fi-section,
.fi-fo-repeater-item {
    overflow: hidden;
}

.fi-ac-action.submit-button {
    margin: auto;
    font-size: 17px;
    padding: 10px 20px;
}